[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openKittyHere;
X-KDE-Priority=TopLevel

[Desktop Action openKittyHere]
TryExec=kitty
Exec=kitty %f
Name=Open Kitty Here
Icon=utilities-terminal
Comment=Opens a terminal at the current folder
